$clr-primary: #333;
$clr-accent: rgb(0, 69, 126);
$clr-text: #000;
$clr-text-2: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

body{
    background-color: $clr-accent;
}

header{
    background: $clr-text;
    color: $clr-text-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

ul{
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

a{
    color: $clr-text-2;
}

h1{
    font-weight: map-get($font-weights, bold);
}