@import "./resets", "./variables";

body{
    background-color: $clr-accent;
}

header{
    background: $clr-text;
    color: $clr-text-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

ul{
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

a{
    color: $clr-text-2;
}


main{
    background-color: $clr-primary;
    width: 95%;
    margin: .2em auto;
    padding: 1em;
    min-height: 90vh;

    h1{
        font-weight: map-get($font-weights, bold);
        font-size: map-get($heading-sizes, large);
        text-align: center;
    }

    .main-paragraph{
        font-weight: map-get($font-weights, medium);
        font-size: map-get($heading-sizes, medium);
        color: $clr-text-2;
        &:hover{
            background-color: $clr-text;
        }
    }
}